<style>
    .error{
        background-color: rgba(189, 69, 69, 0.89);
        text-align: center;
        height: 2.1em;
        font-size: 1.6em;
    }

    .error h2{
        padding-top: 12px;
    }
</style>

{{#each erro}}
<div class="error">
    <h2>{{message}}</h2>
</div>
{{/each}}