<style>
    .success{
        background-color: rgba(54, 141, 90, 0.89);
        text-align: center;
        height: 2.1em;
        font-size: 1.6em;
    }

    .success h2{
        padding-top: 12px;
    }
</style>

{{#each sucesso}}
<div class="success">
    <h2>{{message}}</h2>
</div>
{{/each}}