<link rel="stylesheet" href="/css/css_user/payment-register.css">
{{>erro}}
{{>sucesso}}
{{>menu}}
<form action="/user/payment-register" method="post">
    <div>
        <label for="nome">Descrição:</label>
        <input type="text" name="nome">
    </div>
    <div>
        <button>Adicionar</button>
    </div>
</form>

<div class="lista">
{{#each pagamentos}}
<p>{{nome}}</p>
{{/each}}
</div>