
<link rel="stylesheet" href="/css/css_home/login.css">

{{>erro}}
<form action="" method="post">
<div>
    <input type="text" placeholder="Username" name="usuario">
</div>
<div>
    <input type="password" placeholder="Password" name="senha">
</div>
<div>
    <button>login</button>
</div>
<div>
    <a href="http://192.168.15.85:8080/home/register">Create account</a>
</div>
</form>