form{
    width: 300px;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgba(177, 177, 175, 0.363);
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.452);
    padding: 30px 10px 10px 50px;
    display: inline-block;
    color: rgb(223, 230, 230);
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

select{
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 1.7em;
    width: 250px;
}

label{
    display: block;
}

.lista{
    height: 195px;
    width: 760px;
    overflow-y: scroll;
    position: absolute;
    bottom: 25%;
    left:50%;
    transform: translate(-50%, 75%);
    color: rgb(223, 230, 230);
    background-color: rgba(177, 177, 175, 0.363);
    border-radius: 5px;
    border: 2px solid rgba(66, 65, 65, 0.589);
}

.lista::-webkit-scrollbar{
    width: 8px;
    border: 2px solid rgba(159, 159, 179, 0.144);
    border-radius: 5px;
}

.lista::-webkit-scrollbar-thumb{
    background-color: rgba(140, 140, 141, 0.568);
    border-radius: 5px;
}

.lista .total{
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    height: 1.4em;
    width: 748px;
    background-color: rgba(153, 153, 153, 0.418);
    border: 2px solid rgba(66, 65, 65, 0.589);
    color: rgba(31, 30, 30, 0.74);
}

.resultado{
    text-align: center;
    border: 2px solid rgba(66, 65, 65, 0.589);
    border-radius: 5px;
    width: 250px;
    height: 1.4em;
    font-size: 1.2em;
    padding-top: 7px;
    background-color: rgba(153, 153, 153, 0.418);
    color: rgba(31, 30, 30, 0.74);
}

.legenda th{
    width: 263px;
    text-align: center;
}

p{
    display: inline-block;
}

.download{
    background-color: rgba(240, 248, 255, 0);
    box-shadow: none;
    width: 300px;
    height: 750px;
    text-align: center;
}

.download .file-download{
    margin-right: 50px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-52%);
}

@media screen and (max-width:1400px) {
    form{
        width: 200px;
    }

    select{
        width: 150px;
    }

    button{
        width: 150px;
    }

    label{
        font-size: 1em;
    }

    .lista{
        width: 450px;
    }
}

@media screen and (max-width:600px) {
    form{
        width: 150px;

    }

    select{
        width: 120px;
        height: 1.5em;
    }

    button{
        width: 120px;
        font-size: 0.9em;
    }

    label{
        font-size: 0.9em;
    }

    .lista{
        width: 300px;
        height: 140px;
    }

    .resultado{
        width: 90px;
        font-size: 0.7em;
    }

    .lista .total{
        font-size: 1.0em;
        padding-top: 2px;
        width: 282px;
    }
}

@media screen and (max-width: 450px) {

    .download{
        margin-bottom: -10px;
        height: 490px;
        width: 100px;
    }
}