select{
    width: 200px;
    height: 2em;
    border-radius: 5px;
    margin-bottom: 17px;
}

form{
    width: 300px;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgba(177, 177, 175, 0.363);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.582);
    padding: 30px 10px 30px 50px;
    display: inline-block;
    color: rgb(223, 230, 230);
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

input{
    margin-top: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width: 950px) {
    form {
        width: 200px;
    }

    select{
        width: 100px;
    }

    input{
        width: 150px;
    }

    button{
        width: 150px;
    }
}

@media screen and (max-width: 600px){
    form{
        margin-bottom: -50px;
        width: 170px;
    }

    select{
        width: 102px;
        height: 1.8em;
        margin-left: 15px;
    }

    input{
        width: 92px;
        height: 1.8em;
        margin-left: 15px;
    }

    button{
        width: 88px;
        margin-left: 17px;
    }

    label{
        margin-left: 10px;
        font-size: 0.9em;
    }
}